.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-1);
  width: 100%;
  height: auto;
}

.contact h3 {
  font-family: "Playfair";
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 25px;
  color: var(--color-neutral-1);
  margin: 0;
}

.contact span {
  color: var(--color-neutral-1);
  font-size: 0.8em;
  font-weight: 200;
  padding: 10px 30px 25px 30px;
  text-align: center;
  margin: 0;
}

.btn-contact {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding-bottom: 35px;
  z-index: 2;


  .btn-produtos {
    padding: 10px 50px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-neutral-0);
  }

  .btn-produtos a {
    text-decoration: none;
    color: var(--color-primary-3);
    font-weight: 400;
  }
  .btn-callme {
    padding: 10px 50px;
    border: 1px solid var(--color-neutral-0);
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 50px;
    color: var(--color-neutral-0);
    font-weight: 400;

    background: rgba(
      255,
      255,
      255,
      0.15
    ); /* Cor branca com muita transparência */
    backdrop-filter: blur(10px); /* Desfoca o que estiver atrás */
    -webkit-backdrop-filter: blur(10px);
    a {
      text-decoration: none;
      color: var(--color-neutral-0);
    }
  }
}

/* =========================================
   MEDIA QUERY: TELAS MAIORES (DESKTOP)
   ========================================= */
@media (min-width: 730px) {
  .contact {
    padding: 0 50px;
    height: auto;
  }
  .contact h3 {
    font-family: "Playfair";
    font-size: 2.2em;
    font-weight: 400;
    padding-top: 25px;
    color: var(--color-neutral-1);
  }

  .contact span {
    color: var(--color-neutral-1);
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 30px 25px 30px;
    text-align: center;
  }

  .btn-contact {
      display: flex;
      margin-top: 10px;
    }

    .contact h3 {
    font-size: 2.2em;
    padding-top: 40px; 
  }

  .contact span {
    font-size: 1.2em;
    padding-bottom: 30px; 
  }
}
