.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-1);
  padding: 0 30px 30px;
  height: auto;
}

.contact h2 {
  font-family: "Playfair";
  font-size: 1.8em;
  font-weight: 600;
  padding-top: 25px;
  color: var(--color-neutral-1);
  text-align: center;
}

.contact span {
  color: var(--color-neutral-1);
  font-size: .9em;
  font-weight: 200;
  text-align: center;
  padding-top: 25px;
}

.btn-contact {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px 35px 10px;
  z-index: 2;

  .btn-produtos {
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--color-primary-3);
  }

  .btn-produtos:hover{
    background-color: var(--color-primary-2);
    transition: 0.5s ease;
  }

  .btn-produtos a {
    text-decoration: none;
    color: var(--color-neutral-0);
    font-weight: 300;
  }
  .btn-callme {
    padding: 10px 50px;
    border: 1px solid var(--color-neutral-0);
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 50px;
    color: var(--color-neutral-0);
    font-weight: 400;

    background: rgba(
      255,
      255,
      255,
      0.15
    ); /* Cor branca com muita transparência */
    backdrop-filter: blur(10px); /* Desfoca o que estiver atrás */
    -webkit-backdrop-filter: blur(10px);
    a {
      text-decoration: none;
      color: var(--color-neutral-0);
    }
  }
}

/* =========================================
   MEDIA QUERY: TELAS MAIORES (DESKTOP)
   ========================================= */
@media screen and (min-width: 769px) {
 
.contact {
    padding: 0 60px 30px;
}

.contact span {
  padding-top: 20px;
}

.btn-contact {
  display: flex;
  padding: 30px;
}
}
