#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-2);
  padding-top: 2.5em;
  width: 100%;
}
/* differentials */
.differential {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.differential .span-diff-1 {
  text-transform: uppercase;
  color: var(--color-primary-2);
  font-size: 0.9em;
}

.differential h2 {
  font-family: "Playfair";
  font-size: 1.8em;
  text-align: center;
}

.carousel-wrapper-diff {
  position: relative;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.carousel-diff::-webkit-scrollbar {
  display: none;
}

.container-diff {
  width: max-content;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  padding: 0 15%;
  gap: 20px;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
}

/* Setas específicas dos Diferenciais */
.nav-btn-diff {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-2);
}

.prev-diff {
  left: 10px;
}
.next-diff {
  right: 10px;
}

.diff {
  flex: 0 0 260px;
  height: 300px;
  scroll-snap-align: center;
  background-color: var(--color-neutral-0);
  border-radius: 2em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0, 0.05);
}

.diff .circulo {
  background-color: var(--color-neutral-2);
  padding: 10px 13px;
  border-radius: 50%;
  margin: 0.7em;
}
.diff i {
  color: var(--color-primary-2);
}
.diff h3 {
  font-family: "Playfair";
  text-align: center;
  font-size: 1.5em;
}
.span-diff-2 {
  font-size: 0.9em;
  text-align: center;
  color: var(--color-primary-2);
  margin-bottom: 1.5em;
}

/* about */
.about {
  background-color: var(--color-neutral-0);
  width: 100vw;
  height: auto;
  margin-top: 35px;
}
.about h2 {
  font-family: "Playfair Display";
  padding: 20px;
  margin-top: 10px;
  font-size: 1.3em;
  text-align: center;
}

.about p {
  margin: 10px 20px;
  text-align: center;
  font-weight: 200;
  margin-bottom: 30px;
}

/* =========================================
   MEDIA QUERY: TELAS MAIORES (DESKTOP)
   ========================================= */
@media screen and (min-width: 769px) {
  .differential {
    padding: 0 50px 20px 50px;
    width: 100%;
  }

  .differential .span-diff-1 {
    text-transform: uppercase;
    color: var(--color-primary-2);
    font-size: 0.9em;
  }

  .differential h2 {
    font-family: "Playfair";
    font-size: 2em;
    text-align: center;
  }
  .carousel-wrapper-diff {
    overflow: visible; /* Remove o scroll */
  }

  .container-diff {
    display: grid !important; /* Volta a ser grid no PC */
    grid-template-columns: repeat(4, 1fr) !important;
    grid-template-rows: auto !important;
    width: 100% !important;
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 0 20px !important;
    gap: 20px !important;
    flex-wrap: wrap !important;

    overflow-x: visible !important;
  }
  .nav-btn-diff {
    display: none !important;
  }

  .carousel-diff {
    overflow: visible;
    padding: 0;
  }
  .diff {
    flex: none !important; /* Desativa a regra do mobile */
    width: 100% !important;
    height: auto !important;
    min-height: 250px;
  }

  .about {
    padding: 0 50px;
  }

  .about p {
    padding: 0 200px;
  }
}
