@import url("../css/variables.css");
@import url("../css/navbar.css");
@import url("../css/section1.css");
@import url('../css/section2.css');
@import url('../css/section3.css');
@import url('../css/section4.css');
@import url('../css/footer.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  min-height: 100vh;
  min-width: 390px;
}

main {
  flex: 1;
}

/* Aplica em todas as seções que possuem um ID */
section[id] {
  scroll-margin-top: 80px; /* Ajuste esse valor para a altura exata do seu menu */
}

.btn {
  padding: 10px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
}

.btn-mobile {
  font-size: 1.5rem;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--color-primary-2); 
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 1000;
    opacity: 0; /* Começa invisível */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Quando o JS adicionar a classe 'show' */
.back-to-top.show {
    opacity: 1;
    visibility: visible;
    bottom: 30px; /* Sobe um pouquinho ao aparecer */
}

.back-to-top:hover {
    background-color: var(--color-primary-3);
    transform: scale(1.1);
}

/* responsividade */
@media (max-width: 730px) {
    .back-to-top {
        width: 40px;
        height: 40px;
        bottom: 15px;
        right: 15px;
    }
}
