:root {
    --color-neutral-0: #fbfaf8;
    --color-neutral-1: #f6f5f1;
    --color-neutral-2: #eeebe6;
    --color-neutral-3: #f9f1de;

    --color-primary-1: #bf6529;
    --color-primary-2: #87512d;
    --color-primary-3: #302419;

    --color-secundary-1: #877467;

}
